<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 音视频通话所需权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application>
        <activity
            android:name=".call.CallActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".live.LiveListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".voiceroom.VoiceRoomListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
    </application>

</manifest>
